In [1]:
import pandas as pd

In [2]:
d = pd.read_csv('/Users/damoncrockett/Dropbox/thinkpad_home/SDRDL/abs-licenses/abs-licenses-casnd_VOSD.csv')

In [3]:
from dateutil import parser

In [4]:
d.issuedate = d.issuedate.apply(parser.parse)

In [5]:
d.issuedate.max()

Timestamp('2013-07-05 00:00:00')

In [6]:
d.columns

Index([u'licenseno', u'status', u'licensetype', u'issuedate', u'exprdate', u'owner', u'premisesaddress', u'lon', u'lat', u'x', u'y', u'city', u'neighborhood', u'community', u'council', u'tract', u'business'], dtype='object')

In [7]:
osg = d[d.licensetype == 21]

In [8]:
len(osg.index)

884

In [9]:
osg.neighborhood.value_counts()

NONE      865
SanTRL      1
SanLIT      1
SanMSB      1
SanLIN      1
SanSNS      1
SanCLN      1
SanHAR      1
SanMIA      1
SanMON      1
SanISL      1
SanFOX      1
SanRAN      1
SanSAN      1
SanLAK      1
SanPAL      1
SanBOR      1
SanBIR      1
SanSSI      1
SanMOR      1
dtype: int64

In [10]:
osg.city.value_counts()

NONE      877
SndCHU      1
SndDEL      1
SndELC      1
SndCAR      1
SndESC      1
SndOCN      1
SndSNM      1
dtype: int64

In [11]:
osg.community.value_counts()

NONE      872
SanDEL      1
SanGRT      1
SanOLD      1
SanMDC      1
SanCRM      1
SanMRM      1
SanLAJ      1
SanRES      1
SanPAC      1
SanRAN      1
SanPEN      1
SanMID      1
dtype: int64

In [12]:
osg.council.value_counts()

NONE      881
San009      1
San001      1
San005      1
dtype: int64

In [13]:
osg.status.value_counts()

ACTIVE    865
SUREND     19
dtype: int64

In [14]:
osg = osg[osg.status == 'ACTIVE']

In [15]:
osg.columns

Index([u'licenseno', u'status', u'licensetype', u'issuedate', u'exprdate', u'owner', u'premisesaddress', u'lon', u'lat', u'x', u'y', u'city', u'neighborhood', u'community', u'council', u'tract', u'business'], dtype='object')

In [16]:
osg = osg[['licenseno','issuedate','exprdate','owner','premisesaddress','lon','lat','business']]

In [17]:
osg.head()

,licenseno,issuedate,exprdate,owner,premisesaddress,lon,lat,business
2,1419,1964-08-18,2013-09-30T,A O K ENTERPRISES INC,"3744 OCEAN VIEW BLVD, SAN DIEGO, CA 92113",-117.113723,32.701524,Ocean View Liquor
3,2498,1978-01-01,2013-08-31T,"ORAM, AMIR Z","3515 UNIVERSITY AVE, SAN DIEGO, CA 92104",-117.117612,32.749524,Market Place The
5,4016,1971-06-17,2013-06-30T,MARCREST INC,"3787 INGRAHAM ST, SAN DIEGO, CA 92109",-117.237149,32.788560,Crest
6,4261,1979-08-20,2014-01-31T,J C & S INC,"4210 MARKET ST, SAN DIEGO, CA 92102",-117.104456,32.711729,NaN
7,5332,1973-01-22,2014-02-28T,"ATTIQ, LOUIS","110 NATIONAL CITY BLVD, NATIONAL CITY, CA 91950",-117.097562,32.651772,One Ten Liquor & Market

In [18]:
# check on geopandas

In [19]:
osg[osg.premisesaddress.str.contains('IMPERIAL AVE')]

,licenseno,issuedate,exprdate,owner,premisesaddress,lon,lat,business
220,169355,1985-04-23,2014-05-31T,"DABISH, BAHJET","5102 IMPERIAL AVE, SAN DIEGO, CA 92114",-117.084662,32.705018,Green Cat Liquor
401,243262,1990-02-02,2014-02-28T,"RABBAN, NADIR BAHO","6555 IMPERIAL AVE, SAN DIEGO, CA 92114",-117.056859,32.710379,Encanto Liquor
728,321420,1996-09-18,2013-04-30T,MULLENS MARKET INC,"3011 IMPERIAL AVE, SAN DIEGO, CA 92102",-117.129188,32.706120,Mullens Market Inc
1073,357977,1999-09-07,2013-09-30T,"NAJJAR, SAM ANTWAN","2289 IMPERIAL AVE, SAN DIEGO, CA 92102",-117.142734,32.706007,Bottle & Basket
1432,388203,2002-07-29,2013-06-30T,FOOD BARGAIN MARKET INC,"6251 & 6261 IMPERIAL AVE, SAN DIEGO, CA 92114",-117.123424,32.706742,Food Bargain Market
2037,427113,2005-09-06,2013-07-31T,HOWELLS LIQUOR INC,"6853 IMPERIAL AVE, SAN DIEGO, CA 92114",-117.049587,32.711559,Howells Liquor
4450,519510,2012-03-16,2014-03-31T,"MIKHAEL, NADIA NANCY","2970 IMPERIAL AVE, SAN DIEGO, CA 92102-4126",-117.130155,32.706721,Rancho Market & Liquor

In [20]:
del osg['licenseno']

In [21]:
del osg['exprdate']

In [22]:
osg.reset_index(drop=True,inplace=True)

In [23]:
osg.head()

,issuedate,owner,premisesaddress,lon,lat,business
0,1964-08-18,A O K ENTERPRISES INC,"3744 OCEAN VIEW BLVD, SAN DIEGO, CA 92113",-117.113723,32.701524,Ocean View Liquor
1,1978-01-01,"ORAM, AMIR Z","3515 UNIVERSITY AVE, SAN DIEGO, CA 92104",-117.117612,32.749524,Market Place The
2,1971-06-17,MARCREST INC,"3787 INGRAHAM ST, SAN DIEGO, CA 92109",-117.237149,32.788560,Crest
3,1979-08-20,J C & S INC,"4210 MARKET ST, SAN DIEGO, CA 92102",-117.104456,32.711729,NaN
4,1973-01-22,"ATTIQ, LOUIS","110 NATIONAL CITY BLVD, NATIONAL CITY, CA 91950",-117.097562,32.651772,One Ten Liquor & Market

In [24]:
osg = osg[~osg.owner.str.contains('INC')]

In [25]:
len(osg.index)

436

In [26]:
osg.owner.value_counts()

GARFIELD BEACH CVS LLC            73
RALPHS GROCERY COMPANY            24
TRADER JOES COMPANY               12
COSTCO WHOLESALE CORPORATION      12
SMART & FINAL STORES LLC          12
STATER BROS MARKETS               10
HENRYS HOLDINGS LLC                8
SHAO, ADEL YALDA                   8
TARGET CORPORATION                 7
NORTHGATE GONZALEZ LLC             6
IBRAHIM, AMEL                      3
MYOBZ LLC                          2
TALIA, JAMES SALIM                 2
ZETOUNA, BASIL GEORGE              2
BODEGA LATINA CORPORATION          2
HIRMEZ, BADRY                      2
ALESHIA, NADA NAMU                 2
BALLO, HAITHEM ISTEFAN             2
FORTUNE COMMERCIAL CORPORATION     2
YOUSIF, NAJIB R                    2
KEILS FOOD STORES                  2
RAZOOKY, MAJED ZIA                 2
MCINERNY, MICHAEL EDWARD           2
BAHOURA, BAHER GEORGE              2
TOMA, WALEED O                     2
ALESHIA, RAFD FARAJ                2
APRO LLC                           2
DEIKO, VICTOR TOMA                 2
ALKATIB, ADIL                      2
ELIAS, LUBNA ZUHAIR                1
                                  ..
EL NOPAL MARKET LLC                1
ZORA, AZIZ A                       1
BARTELL HOTELS L-PSHIP             1
YOUNIS, SAMER  A                   1
KEKTOMA, ZUHAIR ISSA               1
KONJA, ROBY N                      1
MARCUS, SABAH P                    1
BADRANI, CHARIF MAHMOUD            1
STEPHAN, MICHAEL ASHAK             1
TOBYA, AMER LOOGA                  1
SHAMOUN, HANI MICHEL               1
WESTGATE HOTEL COMPANY             1
SADEK, BASHAR I                    1
ALKATIB, FADIA JOHN                1
SHAMOON SHOREZ, BASHAR NOEL        1
SOOD, INDU                         1
ANSH ENTERPRISES                   1
ALKATIB, SINAN JAMIL               1
KIDANEMARIAM, DANIEL BERHE         1
YOUNAN, BASIM                      1
SIMAAN, HAZIM DAWOOD               1
BAJOUA, FAHMI M                    1
TRADER MORTS LLC                   1
ABOODI, PHIL                       1
TRAN, DAVID                        1
EWDISH, SAAD ISTEPHAN              1
HAMANA, FLOUNA FAHMI               1
FIRST KOREAN MARLET LLC            1
SOMO, SAM                          1
YALDO, DAVID S                     1
dtype: int64

In [27]:
osg = osg[~osg.owner.str.contains('LLC')]
osg = osg[~osg.owner.str.contains('COMPANY')]
osg = osg[~osg.owner.str.contains('CORPORATION')]

In [28]:
osg.owner.value_counts()

STATER BROS MARKETS            10
SHAO, ADEL YALDA                8
IBRAHIM, AMEL                   3
DEIKO, VICTOR TOMA              2
KEILS FOOD STORES               2
RAZOOKY, MAJED ZIA              2
HIRMEZ, BADRY                   2
TOMA, WALEED O                  2
MCINERNY, MICHAEL EDWARD        2
ZETOUNA, BASIL GEORGE           2
TALIA, JAMES SALIM              2
BAHOURA, BAHER GEORGE           2
YOUSIF, NAJIB R                 2
ALESHIA, RAFD FARAJ             2
BALLO, HAITHEM ISTEFAN          2
ALKATIB, ADIL                   2
ALESHIA, NADA NAMU              2
NAMOU, RAZAK                    1
HERMIZ, JACKELINE               1
KHAIRO, AMER                    1
SHAMMAS, ISAM BAHJAT            1
IBRAHIM, WESAM                  1
ANSARA, EMIL SUHAIL             1
HARRIS, JILL C                  1
ALSAIGH, HIKMAT                 1
MANI, ADIB Y                    1
YOUSIF, LOAY GEORGE             1
OHANIAN, SABAH S                1
AZABO, MUFID YOUSIF             1
TOBIYA, RANI                    1
                               ..
HABIB, FLORA MATTI              1
GORIAL, ISSAM ISSA              1
SOMO, SAM                       1
HAMANA, FLOUNA FAHMI            1
EWDISH, SAAD ISTEPHAN           1
TRAN, DAVID                     1
AODO, MAHIR SAID                1
DO, KHIEM                       1
DAWOOD, ZAMAN MICHAEL           1
YOUNIS, SAMER  A                1
KEKTOMA, ZUHAIR ISSA            1
NAJJAR, SAM ANTWAN              1
MARCUS, SABAH P                 1
BADRANI, CHARIF MAHMOUD         1
STEPHAN, MICHAEL ASHAK          1
TOBYA, AMER LOOGA               1
HABIB, AMIR M                   1
SHAMOUN, HANI MICHEL            1
SADEK, BASHAR I                 1
ALKATIB, FADIA JOHN             1
SHAMOON SHOREZ, BASHAR NOEL     1
BARTELL HOTELS L-PSHIP          1
SOOD, INDU                      1
ALKATIB, SINAN JAMIL            1
KIDANEMARIAM, DANIEL BERHE      1
YOUNAN, BASIM                   1
SIMAAN, HAZIM DAWOOD            1
BAJOUA, FAHMI M                 1
DAWOOD, HAITHAM Y               1
YALDO, DAVID S                  1
dtype: int64

In [29]:
osg = osg[~osg.owner.str.contains('MARKETS')]

In [30]:
osg = osg[~osg.owner.str.contains('STORES')]

In [31]:
len(osg.index)

245

In [32]:
osg = osg[~osg.owner.str.contains('MCINERNY')]

In [33]:
len(osg.owner.unique())

222

In [34]:
len(osg.owner)

243

In [35]:
osg = osg[~osg.owner.str.contains('CORP')]
osg = osg[~osg.owner.str.contains('HOTELS')]
osg = osg[~osg.owner.str.contains('SHOP')]

In [36]:
osg.to_csv('/Users/damoncrockett/Dropbox/thinkpad_home/SDRDL/abs-licenses/osg.csv')